@font-face {
  font-family: 'TextFont';
  src: url('./fonts/text.ttf') format('truetype');
}

@font-face {
  font-family: 'TitleFont';
  src: url('./fonts/title.ttf') format('truetype');
}

body {
  font-family: 'TextFont';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TitleFont';
}

body {
  background-image: url('./image/background.png'); /* Đường dẫn đến hình ảnh background */
  background-size: cover; /* Phủ kín toàn bộ trang */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh */
  background-attachment: fixed; /* Cố định hình ảnh khi cuộn trang */
  background-position: center; /* Căn giữa hình ảnh */
}